/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./styles.css');


.loader {
  display: none;
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
  box-shadow: 0 2px 0 #FF3D00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search-container {
  display: flex;
  justify-content: center;
}

#search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 15px;
  margin-top: 28px;
}

#search-input:hover {
  border: 1px solid #000;
}

#search-input:focus {
  border-color: #4e75ff;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  margin-left: 8px;
}

button:hover {
  background: #6c8cff;
}

#gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: calc((100% - 24px) /3);
  margin-bottom: 24px;
}

.card img {
  width: 360px;
  height: 200px;

}

.param {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

.title,
.title-value {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: 19px;
  margin-right: 10px;
}

.title {
  font-weight: 600;
  line-height: 133%;
}

.title-value {
  font-weight: 400;
  line-height: 200%;
}

.card-border {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;

}

#load-more-btn {
display: none;
width: 125px;
  height: 40px;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}